.category_select {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  color: #222325;
  .category_box {
    padding: 6px;
    margin: 0 auto;

    .category_box_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #fff;
      border: 1px solid #fff;
      border-radius: 16px;
      box-shadow: 0 0 0.880517px rgba(0, 0, 0, 0.029),
        0 0 2.29197px rgba(0, 0, 0, 0.03), 0 0 5.52px rgba(0, 0, 0, 0.054),
        0 0 11px rgba(0, 0, 0, 0.09);
      box-sizing: border-box;
      gap: 0;
      height: 120px;
      justify-content: space-between;
      padding: 16px 12px;
      position: relative;
      width: 120px;
      word-break: break-word;
      z-index: 1;

      &::before {
        background: radial-gradient(
            63.44% 63.44% at 50% 50%,
            #c2ffe2 0,
            #fff 100%
          ),
          #fff;
        border-radius: 16px;
        bottom: 0;
        content: "";
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 0.25s cubic-bezier(0.75, 0, 0.25, 1);
        z-index: -1;
      }
      &:hover::before {
        opacity: 1;
      }
      .image {
        img {
          height: 24px;
          width: 24px;
        }
      }
      .box_content {
        height: 48px;
        text-align: left;
        font-size: 0.9rem;
      }
    }
  }
}
