.guide {
  color: #404145;
  font-family: Helvetica;
  .guide_top {
    margin: 80px 0 40px 0;
    position: relative;
    display: flex;

    justify-content: space-between;
    .guide_title {
      font-size: 48px;
      //   letter-spacing: -1.44px;
      line-height: 105%;
      max-width: 720px;
      font-weight: 400;
    }
    a {
      //   text-align: right;
      position: absolute;
      bottom: 0;
      right: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .guide_list {
    // .slick-slide {
    //   margin: 0 10px;
    // }
    .slick-arrow {
      align-items: center;
      background-color: #fff;
      border: 0;
      border-radius: 50%;
      bottom: 0;
      display: none;
      height: 48px;
      justify-content: center;
      margin: auto;
      position: absolute;
      text-align: center;
      top: 0;
      width: 48px;
      z-index: 1;
      transition: all 0.5s;
      box-shadow: 0 1.2px 1.92251px rgba(0, 0, 0, 0.02),
        0 2px 3.68135px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.05);
    }
    .slick-prev::before {
      color: rgba(0, 0, 0, 0.5);
      content: "\f104"; /* Correct Unicode for 'fa-angle-left' */
      font-family: "Font Awesome 5 Free"; /* Font Awesome family */
      font-weight: 900; /* Solid style for the icon */
    }
    .slick-next::before {
      color: rgba(0, 0, 0, 0.5);
      content: "\f105"; /* Correct Unicode for 'fa-angle-left' */
      font-family: "Font Awesome 5 Free"; /* Font Awesome family */
      font-weight: 900; /* Solid style for the icon */
    }
    .slick-arrow.slick-disabled {
      visibility: hidden;
    }
    .guide_item {
      .guide_item_unit {
        // color: red;
        margin: 0 10px;
        a {
          //   color: red;
          .guide_image {
            position: relative;
            width: 100%;
            height: 100%;

            img {
              border-radius: 4px;

              min-width: 100%;
              object-fit: cover;
              height: 280px;
              transition: opacity 0.3s ease-in-out;
              &:hover {
                opacity: 0.85;
              }
            }
          }
        }
        h3 {
          margin-top: 15px;
          font-family: Macan;
          font-weight: 700;
          font-size: 18px;
          font-family: Helvetica;
        }
      }
    }
  }
}

.joinBanner {
  background-color: #4d1727;
  border-radius: 12px;
  font-size: 4rem;
  text-align: center;
  padding: 40px 0;
  margin: 80px 0;
  h2 {
    color: white;
    letter-spacing: 1.5px;
    span {
      color: #ff7640;
      font-family: DomaineDisplay;
    }
  }
  .joinBanner_button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: white;
    border-radius: 12px;
    color: #222325;
    font-weight: 500;

    &:hover {
      opacity: 0.9;
    }
  }
}
